<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://10.6.60.147/OTA/Unity-iPhone.ipa</string>
		<key>displayImageURL</key>
		<string>https://10.6.60.147/OTA/57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://10.6.60.147/OTA/512.png</string>
	</dict>
    <dict>
         <key>bundle-identifier</key>
         <string>com.xxx.yyy</string>
         <key>bundle-version</key>
         <string>4.2.0</string>
         <key>kind</key>
         <string>software</string>
         <key>title</key>
         <string>战神遗迹</string>
    </dict>
</dict>
</plist>
